@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: "Noto Sans Bengali", "serif";
    }
}

.banner-span-primary span {
    color: #bb0af9;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f3f4f6; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #94bbf9; /* Scrollbar handle */
    border-radius: 4px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3056d4; /* Darker on hover */
}
